body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-family: cursive;
    position: relative;
    top: +10px
}

aside .navi {
    margin-top: 40px;
    font-size: 25px;
}

aside ul {list-style: none;}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 13px;
    transition: transform .4s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #b74aed;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

.btn-info {
    width: 140px;
    font-size: 15px;
    text-align: left;

}

.fa-address-book {
    float: bottom;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}