{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="font-family: Courier New">-Контакты-</h1>
        <div class="contacts">
            <p style="font-family: mv boli">telegram: https://t.me/YasiPy</p>
            <p style="font-family: mv boli">discord: ransomware.</p>
            <div>
                <a class="server" style="font-family: mv boli" href="https://discord.gg/SwNsezZGAp">discord server</a>
            </div>
            <div>
                <a href="/" class="btn btn-warning">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}